body
{
font-family: arial, Times;
font-size:14px;
}
header {
background-color:#ffffff;
}
	
header .row {
padding: 10px 25px 25px 10px;
font-weight:bold;
font-size: 1em;
}


nav { 
	 margin-top:25px;
	float:left;
} 
li {
    display: inline;
    margin-left: 50px;
	
}
.jumbotron {
	background-image:url('https://static.pexels.com/photos/251603/pexels-photo-251603.jpeg');
		background-size: cover;	
}
.jumbotron .title {
	color:#ffffff;
	font-weight:bold;
	font-size:4em;
	}
.jumbotron .subtitle {
	color:#cccccc;
	font-size:2em;
	}
.photocredit {
	color:#333333;
	font-size:0.75em;
	}

.message {
    color: #00BF37;
	font-weight: bold;
}
/* Table Styles */

td, th {	padding: 6px; }

tr {
    font-size: 12px;
	border:none;
}
tr th { border-bottom:#ccc 1px solid;  }
tr:nth-child(odd) {
    background-color: #f0f0f0;
}

/*Buttons*/
button.edit {
    padding: 10px 12px 10px 12px;
    background-color: green;
    color: #fff;
    width: 60%;
    border-radius: 6px;
}

button.edit:hover {
    background-color: #ccc;
    color: #000;
}
button.delete:hover {
    background-color: darkred;
    color: #fff;
	border-radius: 6px;
}
#contact {
	padding:35px;
	background-color:#f0f0f0;
}
footer {
	margin-top:75px;
	
}

div#field {
    margin-bottom: 10px;
}
#updateForm input {
    margin-bottom: 18px;
}
input[type="text"], input[type="email"], input[type="password"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px #ccc solid;
   
}
label {
    font-size: 12px;
}